.home {
    max-width: 900px;
    &__item{
        overflow: auto;
        padding: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px;
        border: 2px solid $ColorE2;
        border-radius: 10px;
        background-color: $ColorF;
        width: 100%;
    }
    &__img {
        margin-block: auto;
        width: 280px;
        height: 280px;
        border-radius: 5px;
        margin-right: 30px;
    }
    &__link {
        color: $ColorA;
        margin-left: 10px;
    }
    &__content {
        padding: 20px 20px 20px 0;
    }
}