@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Color Variables
$ColorF: #fff;
$ColorA: #aaaaaa;
$ColorE2: #e2e2e2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 10px;
    font-family: 'roboto', Helvetica, sans-serif;
}
.text {
    &--heading {
        font-size: 2.4rem;
        font-weight: 400;
        &-2 {
            font-size: 2rem;
            font-weight: 400;
        }
    }
    &--a {
        color: $ColorA;
        margin-top: 10px;
        font-size: 1.2rem;
        line-height: 1.7rem;
        text-align: left;
        font-weight: 400;
    }
    &--3 {
        color: #333;
        margin-top: 15px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: left;
        font-weight: 400;
    } 
    &--date {
        margin-top: 20px;
        padding-right: 20px;
        position: relative;
        &::after {
            content: "";
            height: 20px;
            width: 1px;
            background-color: $ColorA;
            position: absolute;
            top: 2px;
            right: 10px;
        }
    }
    &--input {
        font-size: 1.2rem;
        font-weight: 500;
        &-field {
            font-size: 1.2rem;
            font-weight: 300;
            padding: 12px;
            width: 100%;
            border: 1px solid $ColorE2;
            border-radius: 5px;
            outline: none;
        }
    }
}
.hr {
    &__1px {
        width: 170px;
        height: 1px;
        background-color: $ColorE2;
        margin-top: 20px;
        border: none;
    }
    &__2px {
        width: 170px;
        height: 2px;
        background-color: $ColorE2;
        margin-top: 20px;
        border: none;
    }
}
.icon {
    font-weight: 400;
    width: 2.5rem;
    margin: 10px 15px 0 0;
    color: $ColorA;
    font-size: 2.5rem;
    &__arrow{
        margin: 0 7px;
    }
}
.space {
    &__20 {
        height: 20px;
    }
    &__10 {
        height: 10px;
    }
    &__5 { 
        height: 5px;
    }
}
.btn {
    color: $ColorF;
    background-color: #888;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3rem;
}

@import "header";
@import "author";
@import "container";
@import "home";
@import "about";
@import "contact";
@import "post";